.header {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding: 90px 50px 100px 50px;
}

.header_menu {
    justify-self: start;
    align-self:center;
    font-size: 18px;
    padding-top: 5px;
}

.header__links-list {
    display: flex;
    gap: 33px;
    font-size: 18px;
    list-style: circle;
}

.header_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo-image {
    width: 148px;
    height: 105px;
    background-size:contain;
    background-position: center;
}

.header__address {
    justify-self: end;
}

.address {
    display: flex;
    flex-direction: column;
    align-self: end;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
    text-decoration: none;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(0,0,0,0.6);
}  

.cover {
    position: relative;
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
    padding: 165px 50px 50px 50px;
}
.cover__title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
    letter-spacing: 30px;
    padding-bottom: 135px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.aligned-text {
    line-height: 1.15;
}

.aligned-text_center {
    text-align:center;
}
    
.aligned-text_right {
    display: flex;
    justify-content: end;
    align-content: start;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.cover-description {
    display: flex;
    justify-content: end;
    align-items:center;
    gap: 78px;
    position: relative;
    z-index: 1;
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 18.5px;
}

.cover-description-text {
    line-height: 28px;
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    text-transform: uppercase;
}

.bet-button {
    background-color:transparent;
    width: 257px;
    min-height: 52px;
    flex-shrink: 0;
    border: 1px solid currentColor;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    z-index: 1;
}

.lots {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 180px 50px 90px 50px;
}

.lots__heading {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding:0 0 25px 40px;

}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 430px;
    min-height: 450px;
    padding: 50px 40px;
}



.lots__card-list {
   display: flex;
    flex-wrap:wrap;
    gap: 25px;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    list-style: none;
}

.card-link {
    text-decoration: none;
}

.lots__card-list-item {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
}

.card__title {
    position: relative;
    z-index: 1;
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: left;
}

.card_type_film {
    background-image:url("../images/card-lot-01.jpg");
}

.card_type_book {
    background-image:url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image:url("../images/card-lot-03.jpg");
}
.card__text {
    text-align: left;
    position: relative;
    z-index: 1;
}

.lots__look-more-link {
    font-size: 20px;
    font-weight: 400;
    padding: 30px 0 0 40px;
}

.about {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    padding: 90px 50px 90px 50px;
    column-gap: 25px;
} 

.about__logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 240px;
    height: 240px;
    flex-shrink: 0;
    background-color: #000;
    border-radius: 50%;
    margin-left: 95px;
} 

.about__title {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start:-3;
    grid-row-end:-2;
    align-self: center;
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 100px;
    padding-bottom: 100px;
} 
 
.about__text {
    display: flex;
    grid-column: 2 / 4;
    flex-direction: column;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: none;
    gap: 25px;
} 
 
.about__logo-image {
    width: 60%;
} 

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 85px 50px 90px 50px;
}

.footer__address {
    display:flex;
    flex-direction: column;
    text-decoration:none;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
}

.footer__menu-list {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: none;
}

.footer__social-list {
    display: flex;
    justify-self: end;
    gap: 48px;
    list-style: none;
}

.footer__social-icon {
   height: 48px;
}